<IfModule mod_rewrite.c>
    RewriteEngine On

    # If an existing directory or file is requested, don't rewrite it
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Otherwise forward the request to the front controller
    RewriteRule ^ index.php [QSA,L]
</IfModule>